/DELITOS_CONTRA_MEDIO_AMBIENTE.xlsx
/DELITOS_SEXUALES.xlsx
/EXTORSION.xlsx
/HOMICIDIO_ACCIDENTE_TRANSITO.xlsx
/HOMICIDIO.xlsx
/HURTO_COMERCIO.xlsx
/HURTO_PERSONAS2017-2023.xlsx
/HURTO_PESONAS2003-2016.xlsx
/HURTO_RESIDENCIAS.xlsx
/HURTO_VEHICULOS.xlsx
/LESIONES_ACCIDENTES_TRANSITO.xlsx
/LESIONES_PERSONALES.xlsx
/SECUESTRO.xlsx
/VIOLENCIA_INTRAFAMILIAR.xlsx
